* {
    margin: 0;
    padding: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    overflow: hidden;
}

.background {
    content: '';

    position: absolute;
    background-image: url();
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 150%;
    width: 110vw;
    height: 110vh;
    background-repeat: no-repeat;
    filter: blur(10px);
    z-index: -1;
}

body {
    background-color: black;
    height: 100vh;
}

section {
    width: 100vw !important;
    height: 100vh !important;
    position: relative;
    box-shadow: 0px 0px 30px inset black;
}

.main-section {
    position: relative;
    color: white;
    display: flex;
    align-items: center;
    height: 100vh;
    width: 100vw;
    justify-content: center;
    flex-direction: column;
}

.track-cover-block {
    height: 300px;
    border-radius: 10px;
    position: relative;
    overflow: hidden;
    margin-bottom: 5px;
}

.track-cover {
    width: 300px;
    height: 300px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.333);
    transition: 0.5s ease-in-out;
    transform-style: preserve-3d;
    overflow: hidden;
    object-fit: cover;
}

.track-cover-block:hover .track-cover {
    transform: rotateY(180deg);
    filter: blur(1px) brightness(0.5);
}

.track-back {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    transform: rotateY(180deg);
    display: flex;
    justify-content: center;
    align-items: flex-start;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.333);
    z-index: 1;
    opacity: 0;
    transition: all 1s ease-out;
}

.lyrics {
    padding-top: 10px;
    padding-inline: 10px;
    text-align: center;
    margin-bottom: 20px;
}

.track-cover-block:hover .track-back {
    transform: rotateY(0deg);
    opacity: 1;
    transition: all 0.5s ease-in-out;
}

.track-cover-block:hover .lyrics {
    transform: rotateY(0deg);
    opacity: 1;
    transition: all 0.5s ease-in-out;
}

.track-cover-block:hover .track-back {
    display: flex;
    transition: all 0.5s ease-in-out;
}

.lyrics {
    text-align: left;
    opacity: 0;
    transform: rotateY(180deg);
    transition: all 0.7s ease-in-out;
    overflow: scroll;
    height: 100%;
    -webkit-mask-image: linear-gradient(to bottom, transparent 0%, black 5%, black 80%, transparent 100%);
    mask-image: linear-gradient(to bottom, transparent 0%, black 10%, black 90%, transparent 100%);
}

.lyrics::-webkit-scrollbar {
    display: none;
}

.lyrics h1 {
    font-size: 20px;
    margin-bottom: 15px;
}

.track-info {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.track-name {
    position: relative;
    font-size: 30px;
}

.track-author {
    position: relative;
    font-weight: 200;
    font-size: 16px;
}

.track-name-author {
    margin-top: 10px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.track-menu {
    position: relative;
    padding-top: 15px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100vw;
}

.buttons>button>img {
    width: 50px;
    height: 50px;
    filter: invert();
    opacity: 0.8;
    transition: 0.1s ease-in;
    cursor: pointer;
}

.buttons>button>img:hover {
    transition: 0.1s ease-in;
    opacity: 1;
    scale: 1.1;
}

#replay-button>img:hover {
    scale: 1.1;
    rotate: -90deg;
    opacity: 1;
    transition: all .2s;
}

#replay-button {
    transition: all .2s;
    cursor: pointer;
}

.buttons>button {
    border: none;
    background-color: transparent;
    padding-inline: 15px;
    height: 55px;
}

.buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.hidden {
    display: none;
}

.static>img {
    opacity: 1 !important;
    transform: scale(1.15) !important;
}

.static-replay>img {
    opacity: 1 !important;
    transform: scale(1.15) !important;
    rotate: -90deg !important;
}

.track-bar {
    margin-top: 25px;
}

.range_container {
    position: relative;
    width: 80px;
    /*input range width*/
    height: 10px;
    /*input range height*/
    overflow: hidden;
}

input[type='range'] {
    overflow: hidden;
    width: 300px;
    border-radius: 5px;
    height: 5px;
    appearance: none;
    background-color: #d0d0d0;
    top: -2px;
    left: -2px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.333);
    transition: all .1s ease-in;
    cursor: pointer;
}

input[type='range']::-webkit-slider-thumb {
    width: 7px;
    -webkit-appearance: none;
    height: 7px;
    background: #ffffff;
    border-radius: 50%;
    box-shadow: -500px 0 0 500px #ffffff;
}

input[type="range"]::-moz-range-progress {
    opacity: 1;
}

input[type="range"]::-ms-fill-lower {
    opacity: 1;
}

input[type='range']:hover {
    height: 7px;
    transition: all .1s ease-in;
}

.volume {
    overflow: visible !important;
    position: absolute;
    opacity: 0.8;
    display: flex;
    flex-direction: row-reverse;
    overflow: visible;
    right: 0;
    align-items: center;
    padding-right: 80px;
    padding-bottom: 3px;
    cursor: pointer;
}

.volume:hover {
    opacity: 1;
}

#volume-bar {
    top: 0;
    height: 7px;
    width: 0px;
    transition: all .2s ease-in;
}

.volume-button {
    overflow: visible;
    border: none;
    background-color: transparent;
    padding-right: 20px;
    height: 30px;
}

.volume-button>img {
    filter: invert();
}

.volume:hover #volume-bar {
    width: 100px !important;
    transition: all .2s ease-in;
}

.track-list {
    overflow: visible !important;
    position: absolute;
    display: flex;
    flex-direction: row-reverse;
    overflow: visible;
    left: 0;
    align-items: center;
    padding-left: 80px;
    padding-bottom: 3px;
}

.tracklist-button {
    background: transparent;
    border: none;
    outline: none;
    opacity: 0.8;
    transition: all .1s ease-in;
    height: 60px;
}

.tracklist-button>img {
    filter: invert();
    cursor: pointer;
}

.tracklist-button:hover {
    opacity: 1;
    transition: all .1s ease-in;
}

.tracklist-menu {
    padding: 10px;
    position: fixed;
    width: 350px;
    height: 450px;
    left: 80px;
    bottom: 35vh;
    border-radius: 20px;
    background-color: #ffffff;
    z-index: 999;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.333);
    overflow: scroll;
}

.tracklist-cover {
    object-fit: cover;
}

.tracklist-menu::-webkit-scrollbar {
    display: none;
}

.tracklist-track {
    display: flex;
    flex-direction: row;
    padding: 10px;
    border-radius: 10px;
    transition: all .1s ease-in;
    cursor: pointer;
}

.hidden {
    display: none;
}

.track-name-tracklist,
.track-author-tracklist {
    color: black;
}

.track-name-tracklist {
    font-size: 24px;
}

.track-author-tracklist {
    font-size: 16px;
    font-weight: 200;
}

.tracklist-track:hover {
    background-color: #ebebeb;
    transition: all .1s ease-in;
}

.mobile-menu {
    background-color: #ffffff;
    position: absolute;
    width: 100vw;
    height: 100vh;
    right: 0;
    top: 95vh;
    border-radius: 25px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.333);
    display: flex;
    flex-direction: column;
    transition: all .2s ease-in;
}

.mobile-menu-header {
    display: flex;
    height: 5vh;
    align-items: center;
    justify-content: center;
    width: 100vw;
margin-top: 8px;
}

.active-mobile-menu {
    top: 10vh;
    transition: all .2s ease-in;
}

.open-mobile-menu {
    width: 50px;
    height: 10px;
    border: none;
    background-color: #e8e8e8;
    border-radius: 10px;
}

.mobile-settings {
    padding-inline: 20px;
    padding-bottom: 30px;
}

#mobile-volume-bar {
    margin-top: 5px;
    height: 7px;
    width: 150px;
    background-color: #a2a2a2;
    filter: invert();
}

.mobile-tracklist {
    padding-inline: 20px;
    overflow: scroll;
    margin-bottom: 100px;
}

.mobile-tracklist::-webkit-scrollbar {
    display: none;
}


.track-cover-block {
    transform-style: preserve-3d;
    transition: transform 0.5s;
}


.volume-setting {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
}


@media screen and (min-width: 700px) {
    .mobile-menu {
        display: none;
    }
}

@media screen and (max-width: 700px) {
    .logo {
        padding-left: 30px !important;
    }
    .volume {
        display: none !important;
    }

    .track-list {
        display: none;
    }

    .background {
        background-size: 300%;
    }

    .track-cover {
        width: 250px;
        height: 250px;
    }

    .track-cover-block {
        height: 250px;
        margin-bottom: 10px;
    }

    input[type='range'] {
        width: 250px;
    }

    .buttons>button {
        scale: 0.8;
        padding-inline: 10px;
    }

    .track-menu {
        padding-top: 10px;
    }

    .track-bar {
        margin-top: 10px;
    }
}

@media screen and (max-width: 600px) {
    .track-name {
        font-size: 24px;
    }

    .track-author {
        font-size: 14px;
    }
}


@media screen and (max-width: 500px) {
    .track-name-tracklist {
        font-size: 24px;
    }

    .track-author-tracklist {
        font-size: 16px;
    }

    .mobile-tracklist h1 {
        font-size: 30px;
    }

    .volume-setting h2 {
        font-size: 18px;
    }

    .mobile-settings h1 {
        font-size: 30px;
    }
}

#video {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    object-fit: cover;
    z-index: -1;
    pointer-events: none;
}

@media screen and (min-width: 2000px) {
    #video {
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        min-width: 100%;
        min-height: 100%;
        width: auto;
        height: auto;
        z-index: -1;
        overflow: hidden;
    }
}

#loader {
    width: 150px;
    height: 150px;
    margin: 50px auto;
    position: relative;
    overflow: visible;
}

#loader .ring {
    position: absolute;
    border: 6px solid #ffffff;
    border-radius: 50%;
    opacity: 1;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}

#loader .ring:nth-child(1) {
    width: 100%;
    height: 100%;
    animation-name: pulse;
    animation-delay: 1s;
}

#loader .ring:nth-child(2) {
    width: calc(100% - 25px);
    height: calc(100% - 25px);
    top: 12.5px;
    left: 12.5px;
    animation-name: pulse;
    animation-delay: 0.8s;
}

#loader .ring:nth-child(3) {
    width: calc(100% - 50px);
    height: calc(100% - 50px);
    top: 25px;
    left: 25px;
    animation-name: pulse;
    animation-delay: 0.6s;
}

#loader .ring:nth-child(4) {
    width: calc(100% - 75px);
    height: calc(100% - 75px);
    top: 37.5px;
    left: 37.5px;
    animation-name: pulse;
    animation-delay: 0.4s;
}

#loader .ring:nth-child(5) {
    width: calc(100% - 100px);
    height: calc(100% - 100px);
    top: 50px;
    left: 50px;
    animation-name: pulse;
    animation-delay: 0.2s;
}

@keyframes pulse {
    0%, 10% {
        transform: scale(1);
    }
    40%, 60% {
        transform: scale(0.4);
    }
    90%, 100% {
        transform: scale(1);
    }
}

.loader-container {
    background-color: #1f1f1f;
    position: absolute;
    width: 100vw;
    height: 100vh;
    z-index: 9999;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo {
    width: 140px;
    opacity: 0.75;
    padding-left: 80px;
    padding-top: 30px;
    position: fixed;
    cursor: pointer;
    z-index: 9;
    transition: .2s;
}

.logo>img {
    width: 100%;
    object-fit: cover;
}

.logo:hover {
    opacity: 1;
    transition: .15s;
}