* {
    margin: 0;
    padding: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    overflow: hidden;
}

.background{
    content: '';

    position: absolute;
    background-image: url(/music-player/assets/images/carti-cover.jpeg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 150%;
    width: 110vw;
    height: 110vh;
    background-repeat: no-repeat;
    filter: blur(10px);
    z-index: -1;
}

body {
    background-color: black;
}

section {
    width: 100vw !important;
    height: 100vh !important;
    position: relative;
    box-shadow: 0px 0px 30px inset black;
}

.main-section {
    position: relative;
    color: white;
    display: flex;
    align-items: center;
    height: 100vh;
    width: 100vw;
    justify-content: center;
    flex-direction: column;
}

.track-cover-block {
    height: 300px;
    border-radius: 10px;
    position: relative;
    overflow: hidden;
  }
  
  .track-cover {
    width: 300px;
    height: 300px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.333);
    transition: 0.5s ease-in-out;
    transform-style: preserve-3d;
    overflow: hidden;
    object-fit: cover;
  }
  
  .track-cover-block:hover .track-cover {
    transform: rotateY(180deg);
    filter: blur(1px) brightness(0.5);
  }
  
  .track-back {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    transform: rotateY(180deg);
    display: flex;
    justify-content: center;
    align-items: flex-start;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.333);
    z-index: 1;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
  }
  
  .lyrics {
    padding-top: 10px;
    padding-inline: 10px;
    text-align: center;
    transition: all 0.5s ease-in-out;
  }
  
  .track-cover-block:hover .track-back {
    transform: rotateY(0deg);
    opacity: 1;
    transition: all 0.5s ease-in-out;
  }
  
  .track-cover-block:hover .lyrics {
    transform: rotateY(0deg);
    transition: all 0.5s ease-in-out;
  }
  
  .track-cover-block:hover .track-back {
    display: flex;
    transition: all 0.5s ease-in-out;
  }
  
  .lyrics {
    text-align: left;
    transform: rotateY(180deg);
    transition: all 0.5s ease-in-out;
    overflow: scroll;
    height: 100%;
  }
  
  .lyrics h1 {
    font-size: 20px;
    margin-bottom: 15px;
  }
  
  .track-info {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .track-name {
    position: relative;
    font-size: 30px;
  }
  
  .track-author {
    position: relative;
    font-weight: 200;
    font-size: 16px;
  }
  
  .track-name-author {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .track-menu {
    position: relative;
    padding-top: 25px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100vw;
  }
  
.buttons>button>img {
    width: 50px;
    height: 50px;
    filter: invert();
    opacity: 0.8;
    transition: 0.1s ease-in;
}

.buttons>button>img:hover {
    transition: 0.1s ease-in;
    opacity: 1;
    scale: 1.1;
}

#replay-button>img:hover {
    scale: 1.1;
    rotate: -90deg;
    opacity: 1;
    transition: all .2s;
}

#replay-button {
    transition: all .2s;
}

.buttons>button {
    border: none;
    background-color: transparent;
    padding-inline: 15px;
    height: 55px;
}

.buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.hidden {
    display: none;
}

.static>img {
    opacity: 1 !important;
    transform: scale(1.15) !important;
}

.static-replay>img {
    opacity: 1 !important;
    transform: scale(1.15) !important;
    rotate: -90deg !important;
}

.track-bar {
    margin-top: 25px;
}

.range_container{
    position: relative;
    width: 80px; /*input range width*/
    height: 10px; /*input range height*/
    overflow: hidden;
}

input[type='range'] {
    overflow: hidden;
    width: 300px;
    border-radius: 5px;
    height: 5px;
    appearance: none;
    background-color: #d0d0d0;
    top: -2px;
    left: -2px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.333);
    transition: all .1s ease-in;
}

input[type='range']::-webkit-slider-thumb {
    width: 7px;
    -webkit-appearance: none;
    height: 7px;
    background: #ffffff;
    border-radius: 50%;
    box-shadow: -500px 0 0 500px #ffffff;
}

input[type="range"]::-moz-range-progress {
    opacity: 1;
}
input[type="range"]::-ms-fill-lower {
    opacity: 1;
}

input[type='range']:hover {
    height: 7px;
    transition: all .1s ease-in;
}

.volume {
    overflow: visible !important;
    position: absolute;
    opacity: 0.8;
    display: flex;
    flex-direction: row-reverse;
    overflow: visible;
    right: 0;
    align-items: center;
    padding-right: 80px;
    padding-bottom: 3px;
}

.volume:hover {
    opacity: 1;
}

#volume-bar {
    top: 0;
    height: 7px;
    width: 0px;
    transition: all .2s ease-in;
}

.volume-button {
    overflow: visible;
    border: none;
    background-color: transparent;
    padding-right: 20px;
    height: 30px;
}

.volume-button>img {
    filter: invert();
}

.volume:hover #volume-bar {
    width: 100px !important;
    transition: all .2s ease-in;
}

.track-list {
    overflow: visible !important;
    position: absolute;
    display: flex;
    flex-direction: row-reverse;
    overflow: visible;
    left: 0;
    align-items: center;
    padding-left: 80px;
    padding-bottom: 3px;
}

.tracklist-button {
    background: transparent;
    border: none;
    outline: none;
    opacity: 0.8;
    transition: all .1s ease-in;
    height: 60px;
}

.tracklist-button>img {
    filter: invert();
}

.tracklist-button:hover {
    opacity: 1;
    transition: all .1s ease-in;
}

.tracklist-menu {
    padding: 10px;
    position: fixed;
    width: 350px;
    height: 450px;
    left: 80px;
    bottom: 35vh;
    border-radius: 20px;
    background-color: #ffffff;
    z-index: 999;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.333);
    overflow: scroll;
}

.tracklist-track {
    display: flex;
    flex-direction: row;
    padding: 10px;
    border-radius: 10px;
    transition: all .1s ease-in;
}

.hidden {
    display: none;
}

.track-name-tracklist, .track-author-tracklist {
    color: black;
}

.track-name-tracklist {
    font-size: 24px;
}
.track-author-tracklist {
    font-size: 16px;
    font-weight: 200;
}

.tracklist-track:hover {
    background-color: #ebebeb;
    transition: all .1s ease-in;
}

.mobile-menu {
    background-color: #ffffff;
    position: absolute;
    width: 100vw;
    height: 100vh;
    right: 0;
    top: 95vh;
    border-radius: 25px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.333);
    display: flex;
    flex-direction: column;
    transition: all .2s ease-in;
}

.mobile-menu-header {
    display: flex;
    height: 5vh;
    align-items: center;
    justify-content: center;
    width: 100vw;
    margin-bottom: 20px;
}

.active-mobile-menu {
    top: 10vh;
    transition: all .2s ease-in;
}

.open-mobile-menu {
    width: 50px;
    height: 10px;
    border: none;
    background-color: #e8e8e8;
    border-radius: 10px;
}

.mobile-settings {
    padding-inline: 20px;
    margin-bottom: 20px;
    padding-bottom: 10px;
}

#mobile-volume-bar {
    margin-top: 5px;
    height: 7px;
    width: 150px;
    background-color: #a2a2a2;
    filter: invert();
}

.mobile-tracklist {
    padding-inline: 20px;
    overflow: scroll;
}


.track-cover-block {
    transform-style: preserve-3d;
    transition: transform 0.5s;
  }


.volume-setting {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
  

@media screen and (min-width: 700px) {
    .mobile-menu {
        display: none;
    }
}

@media screen and (max-width: 700px) {
    .volume {
        display: none !important;
    }
    .track-list {
        display: none;
    }
    .background {
        background-size: 300%;
    }
    .track-cover {
        width: 250px;
        height: 250px;
    }
    .track-cover-block {
        height: 250px;
        margin-bottom: 10px;
    }
    input[type='range'] {
        width: 250px;
    }
    .buttons>button {
        scale: 0.8;
        padding-inline: 10px;
    }
    .track-menu {
        padding-top: 10px;
    }
    .track-bar {
        margin-top: 10px;
    }
  }

@media screen and (max-width: 600px) {
    .track-name {
        font-size: 24px;
    }
    .track-author {
        font-size: 14px;
    }
}


@media screen and (max-width: 500px) {
    .track-name-tracklist {
        font-size: 24px;
    }
    .track-author-tracklist {
        font-size: 16px;
    }
    .mobile-tracklist h1 {
        font-size: 30px;
    }
    .volume-setting h2 {
        font-size: 18px;
    }
    .mobile-settings h1 {
        font-size: 30px;
    }
}
